
  
.bg { 
    /* The image used */
    background-image: url(../images/beige-tiles.png);
  
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}